# dependencies
node_modules/

# build
dist/

# env
.env
.env.local
.env.*.local

# prisma
prisma/migrations/*.lock

# logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# coverage
coverage/

# Uploads
uploads/
